<VirtualHost *:80>
        ServerAdmin webmaster@tibus.net
        ServerName {{ site }}
        ServerAlias www.{{ site }}

        ErrorLog /var/log/apache2/{{ site }}-error.log
        CustomLog /var/log/apache2/{{ site }}-access.log combined

        DocumentRoot /home/{{ customer }}/sites/{{ site }}

        <Directory /home/{{ customer }}/sites/{{ site }}>
                Options +FollowSymLinks -MultiViews -Indexes
                AllowOverride All
                 Require all granted
        </Directory>

        <Directory /usr/lib/cgi-bin>
                Require all granted
        </Directory>

        <FilesMatch "\.php$">
                SetHandler "proxy:unix:///var/run/php/{{ customer }}{{phpver}}-fpm.sock|fcgi://sites/"
        </FilesMatch>
</VirtualHost>

#<VirtualHost *:443>
#
#        SSLEngine On
#        SSLCertificateFile /etc/letsencrypt/live/{{ site }}/fullchain.pem
#        SSLCertificateKeyFile /etc/letsencrypt/live/{{ site }}/privkey.pem;
#
#        # Generate this before unhasing - sudo openssl dhparam -out /etc/ssl/certs/dhparam.pem 2048
#        SSLOpenSSLConfCmd DHParameters "/etc/ssl/certs/dhparam.pem"
#
#        ServerAdmin webmaster@tibus.net
#        ServerName {{ site }}
#        ServerAlias www.{{ site }}
#
#        ErrorLog /var/log/apache2/{{ site }}-error.log
#        CustomLog /var/log/apache2/{{ site }}-access.log combined
#
#        DocumentRoot /home/{{ customer }}/sites/{{ site }}
#
#        <Directory /home/{{ customer }}/sites/{{ site }}>
#                Options +FollowSymLinks -MultiViews -Indexes
#                AllowOverride All
#                 Require all granted
#        </Directory>
#
#        <Directory /usr/lib/cgi-bin>
#                Require all granted
#        </Directory>
#
#        <FilesMatch "\.php$">
#                SetHandler "proxy:unix:///var/run/php/{{ customer }}{{phpver}}-fpm.sock|fcgi://sites/"
#        </FilesMatch>
#</VirtualHost>
